@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing:border-box
}
html{
    background-color: lightsteelblue;
    background-image: url("src/assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.listaProd{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin:auto;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    grid-gap:25px;
    

}

